@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  --font-serif: var(--font-merriweather), ui-serif, Georgia;
  --font-mono: ui-monospace, SFMono-Regular;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow: hidden; /* Prevent scrolling on the physical app shell */
}
